<launch>
  <!-- Use simulation time -->
  <rosparam param="use_sim_time">True</rosparam>

  <!-- Load diffbot model -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find diffbot_description)/urdf/diffbot.urdf.xacro'" />

  <!-- Run the diffbot_base -->
  <!-- This will create the DiffBot hardware interface and instantiate a new controller manager with it -->
  <node name="diffbot_base" pkg="diffbot_base" type="diffbot_base" ns="diffbot" output="screen"/>

  <!-- Load controller config -->
  <rosparam command="load" file="$(find diffbot_control)/config/diffbot_control.yaml" />

  <!-- Spawn controller -->
  <!-- node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="diffbot_controller" /-->


  <!-- Load the controllers -->
  <!-- This will use the controller manager that got started inside the difbot_base node -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="diffbot" args="joint_state_controller
                                           mobile_base_controller"/>

  <!-- rqt_plot monitoring -->
  <!--
  <node name="diffbot_pos_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/diffbot_controller/odom/pose/pose/position/x" />
  <node name="diffbot_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/diffbot_controller/odom/twist/twist/linear/x" />
  -->
</launch>